<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1>Botões</h1>
  <ion-button>Padrão</ion-button>

  <ion-button href="http://google.com.br">Link</ion-button>


  <h4>Cores</h4>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">secondary</ion-button>
  <ion-button color="success">success</ion-button>
  <ion-button color="warning">warning</ion-button>
  <ion-button color="danger">danger</ion-button>
  <ion-button color="light">light</ion-button>
  <ion-button color="medium">medium</ion-button>
  <ion-button color="dark">dark</ion-button>


  <h4>Expandido </h4>
  <!--Ocupa todo o espaço da tela-->
  <ion-button expand="full">Full</ion-button>
  <ion-button expand="block">Full</ion-button> <!---Arredondado-->


  <h4>Arredondado</h4>
  <ion-button shape="round">Arredondado</ion-button>


  <h4>Preenchimento</h4>
  <ion-button fill="outline">Preenchimento</ion-button>


  <h4>Realizando teste com mais de um atributo</h4>
  <ion-button fill="outline" color="danger" expand="block">Teste</ion-button> 

  <h4>Icones</h4>
  <ion-button>
    <ion-icon slot="start" name="star">
    </ion-icon>
    Icone
  </ion-button>

  <ion-button>
    <ion-icon slot="end" name="star">
    </ion-icon>
    Icone
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="star">
    </ion-icon>
  </ion-button>

  
  <ion-button>
    <ion-icon slot="icon-only" name="arrow-back">
    </ion-icon>
  </ion-button>

  <h4>Tamanhos</h4>
  <ion-button size="large">Large</ion-button>
  <ion-button> Default</ion-button>
  <ion-button size="small">Small</ion-button>

</ion-content>






<ion-footer> <ion-toolbar>
  <ion-title>
    Menu
  </ion-title>
</ion-toolbar></ion-footer>